.card-image-container {
  display: inline-block;
  position: relative;
  z-index: 0;
  &:hover {
    z-index: 10;
  }
  .card-image {
    width: 95px;
    background-size: cover;
    height: 150px;
    border: 2px solid gray;
    margin-right: -30px;
    transition: margin .25s, transform .25s;
    &.detailed {
      margin: 0px 0px 0px 0px;
      height: 600px;
      width: 380px;
    }
    &.selected {
      border: 2px solid #007ddd;
    }
    &.deselected {
      border: 2px solid #be0918;
    }
    &.disabled {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    &.interact-grow {
      &:hover, &:focus, &:active {
        z-index: 1;
        margin: 0px 0px 0px 0px;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
    .count-number {
      position: absolute; 
      top: 50%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */
      transform: translate(-50%, -50%);
      font-size: 100px;
      pointer-events: none;
      &.two-digit {
        font-size: 60px;
      }
      &.three-digit {
        font-size: 50px;
      }
    }
  }
}
