/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-dark/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';
@import '~hover.css/css/hover.css';

@import 'variables';

body {
  overflow-x: hidden;
}

body, .ui-fieldset {
  background: #333;
  border: none;
  color: #ddd;
}
